<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background-image">
        <div class="container">
            <div class="card-columns d-flex justify-content-center">
                <div class="card" [routerLink]="'/consumerRegister'" style="width: 35rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1580828343064-fde4fc206bc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="Card image cap">
                    <div class="card-body">
                    <h3 class="card-title">CONSUMER</h3>
                    <p class="card-text">you can consume as much as you can</p>
                    </div>
                </div>
                <div class="card" [routerLink]="'/sellerRegister'" style="width: 35rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1538867105090-7f791392a16e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                    <div class="card-body">
                    <h3 class="card-title">SELLER</h3>
                    <p class="card-text">you can sell as much as you can</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



